@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthHelper AuthHelper
@inject ILogger<Home> Logger
@attribute [Authorize]

<h3> Reminders </h3>

@code {
    private string? _userId;

    protected override async Task OnInitializedAsync()
    {
        _userId = await AuthHelper.GetUserId();
    }
}
